@font-face {
    font-family: "Canopee";
    src: url("./fonts/Canopee.otf")
}

@font-face {
    font-family: "Lucifer Sans Black Italic";
    src: url("./fonts/Lucifer\ Sans\ Black\ Italic.otf")
}

@font-face {
    font-family: "Lucifer Sans ExtraLight";
    src: url("./fonts/Lucifer\ Sans\ ExtraLight.otf")
}

@font-face {
    font-family: "Lucifer Sans Black";
    src: url("./fonts/Lucifer\ Sans\ Black.otf")
}

@font-face {
    font-family: "Lucifer Sans Medium";
    src: url("./fonts/Lucifer\ Sans\ Medium.otf")
}

@font-face {
    font-family: "Lucifer Sans SemiCnd ExtraBold";
    src: url("./fonts/Lucifer\ Sans\ SemiCnd\ ExtraBold.otf")
}

@font-face {
    font-family: "Lucifer Sans SemiCnd Bold";
    src: url("./fonts/Lucifer\ Sans\ SemiCnd\ Bold.otf")
}

@font-face {
    font-family: "Lucifer Sans SemiCnd Medium";
    src: url("./fonts/Lucifer\ Sans\ SemiCnd\ Medium.otf")
}


